<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
<meta charset="utf-8">
{% seo -%}
{% feed_meta %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.min.css" integrity="sha256-HbgiGHMLxHZ3kkAiixyvnaaZFNjNWLYKD/QG6PWaQPc=" crossorigin="anonymous"/>
<link rel="stylesheet" href="{{ 'syntax-hilight.css' | relative_url }}">
<style>
  .markdown-body {
    max-width: 767px;
    margin: 0 auto;
    font-size: 1.25rem;
  }
</style>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>
</head>
<body>
<nav class="navbar navbar-expand navbar-light bg-light mb-3">
  <div class="container">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.author.url }}">{% octicon person %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.github.repository_url }}">{% octicon mark-github %}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main class="container">
{{ content }}
</main>
<footer class="my-3">
  <div class="container text-center">
    <small>&copy; {{ site.posts.last.date | date: '%Y' }}–{{ site.posts.first.date | date: '%Y' }} <a href="{{ site.author.url }}" class="text-dark">{{ site.author.name }}</a></small>
  </div>
</footer>
</body>
</html>
