<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="{{ site.favicon }}">
  {% seo -%}
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.min.css" integrity="sha256-HbgiGHMLxHZ3kkAiixyvnaaZFNjNWLYKD/QG6PWaQPc=" crossorigin="anonymous"/>
  <style>
    .markdown-body {
      max-width: 768px;
      margin: 0 auto;
      font-size: 1.25rem;
    }
  </style>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
  </script>
</head>
<body>
<nav class="navbar navbar-light bg-light mb-3">
  <div class="container">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
  </div>
  </div>
</nav>
<main class="container">
  {{ content }}
</main>
<footer class="my-3">
  <div class="container text-center">
    {%- assign reversed_posts = site.posts | reverse -%}
    <small>&copy; {{ reversed_posts[0].date | date: '%Y' }}-{{ site.time | date: '%Y' }} <a href="{{ site.author.url }}" class="text-dark">{{ site.author.name }}</a></small>
  </div>
</footer>
</body>
</html>
